.footer{
    max-width: 100vw;
    height: 70px;
    /* background-color: red; */
    border-radius: 0px 0px 75px 75px;
    text-align: center;
}
.footer .font-aureta{
    font-size: 2em;
}
.footer .big{
    font-size: 2em;
}