.manager-main{
    /* width: calc(100vw - 10em); */
}
.manager-nav span{
    cursor: pointer;
}








.manage-category-main > .widget{
    width: 100%;
    /* min-height: 100px; */
}
.manage-category-main > .widget .title{
    width: 30%;
}
.manage-category-main > .widget .color{
    width: 10%;
    height: 40px;
    border-width: 0px;
    padding: 0px;
}
.manage-category-main > .widget img{
    height: 50px;
    aspect-ratio: 2 / 1;
    object-fit: contain;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
.manage-category-main > .widget .btn-green{
    width: 15%;
}
.manage-category-main > .widget .btn-green.twice{
    width: calc(30% + 10px);
}
.manage-category-main > .widget .btn-green:disabled{
    background-color: grey;
}




.manage-color-main .addColor{
    height: 200px;
    width: 900px;
    /* background-color: red; */
    /* border: 1px solid black; */
    position: relative;
}
.manage-color-main .addColor img{
    height: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}
.manage-color-main .addColor .color{
    width: 100%;
    border-width: 0px;
    height: 50px;
}
.manage-color-main .addColor .input{
    text-transform: capitalize;
    border-top-right-radius: 25px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}
.manage-color-main .addColor button{
    border-bottom-right-radius: 25px;
}

.manage-colors-page-widget{
    position: relative;
    /* border: 1px solid black; */
}
.manage-colors-page-widget .delete{
    position: absolute;
    top: 20px;
    left: 30%;
    height: 15px;
    aspect-ratio: 1 / 1;
    cursor: pointer;
    /* background-color: red; */
}
.manage-colors-page-widget .imgcover{
    width: calc(30% - 10px);
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 1px 1px 2px black;
    cursor: pointer;
    position: relative;
    
}
.manage-colors-page-widget .imgcover img{
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    border-radius: 50%;
}

.manage-colors-page-widget img:hover{
    transform: scale(1.2);
}
.manage-colors-page-widget .title{
    width: calc(70%);
    max-width: calc(50% + 20px);
    height: 100%;
    cursor: pointer;
    margin-top: 5px;
}
.manage-colors-page-widget .title.text-gray > span{
    text-decoration: line-through;
}
.manage-colors-page-widget .title > span{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-transform: capitalize;
    position: relative;
}
.manage-colors-page-widget .title label{
    margin: 0px;
    font-size: 0.8em;
}
.manage-colors-page-widget .title label input{
    margin-right: 5px;
}




.manage-item-main{
    position: relative;
}
.itemlist-container{
    width: 300px;
}
.category-wrapper{
    /* border: thin solid white; */
}
.category-wrapper .header{
    text-align: center;
    padding: 1rem;
    width: calc(100% - 2rem);
    position: relative;
}
.category-wrapper h3{
    cursor: pointer;
    /* background-color: red; */
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}

.category-wrapper .header img{
    height: 30px;
}
.item-widget-container{
    overflow: hidden;
    max-width: 100%;
    text-align: center;
    transition: all 1s ease-in-out;
}
.item-widget-container.hidden{
    height: 0px;
}
.item-widget-container span{
    width: calc(100% - 2rem);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    float: left;
    /* border-bottom: 1px solid grey; */
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.item-widget-container span:hover{
    /* font-size: 1.2em; */
    font-weight: bold;
    /* background-color: whitesmoke; */
}



.itemdesc-container{
    width: calc(100% - 300px - 2rem);
}









.manage-messages-main .left{
    width: 30%;
    height: calc(150px + 55vh);
    max-height: calc(150px + 55vh);
    /* height: 100%; */
    border-bottom-left-radius: 10px;
    border-right: 1px solid rgba(0, 0, 0, 0.5);
    overflow-y: auto;
}
.manage-messages-main .left .widget{
    background-color: white;
    box-shadow: inset 0px -5px 5px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    position: relative;
}
.manage-messages-main .left .widget img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 1rem;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.manage-messages-main .left .widget span{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
}
.manage-messages-main .left .widget > .counter{
    height: 10px;
    width: 10px;
    position: absolute;
    top: 5px;
    left: 50px;
    padding: 4px;
    border-radius: 50%;
    /* background-color: map-get($colors, "red"); */
    background-color: #B24C4C;
    color: white;
    font-size: 0.7em;
    z-index: 1;
  }

.manage-messages-main .right{
    width: 70%;
    min-height: 220px;
    
}

.manage-messages-main .right .header{
    height: 70px;
    /* box-shadow: inset 0px -5px 5px 0px rgba(0, 0, 0, 0.1); */
    /* box-shadow: inset 0px -5px 20px -4px rgba(0,0,0,0.1); */
    width: calc(100% - 2rem);
    padding: 0rem 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-top-right-radius: 15px;
}
.manage-messages-main .right .header img{
    height: 30px;
    width: 30px;
}
.manage-messages-main .right .header .markasread{
    font-size: 0.8rem;
    background-color: #B24C4C;
    /* background-color: map-get($colors, "red"); */
    color: white;
    padding: 5px 1rem;
    border-radius: 1rem;
}

.manage-messages-main .right .content{
    height: 55vh;
    padding: 0rem 1rem 1rem 1rem;
    width: calc(100% - 2rem);
    border-bottom-right-radius: 10px;
    overflow-y: auto;
}
.manage-messages-main .right .content .bubble{
    /* background-color: whitesmoke; */
    padding: 5px 1rem;
    border-radius: 1rem;
    margin-top: 1rem;
    max-width: 55%;
}
.manage-messages-main .right .content .sender{
    align-self: flex-start;
}
.manage-messages-main .right .content .receiver{
    align-self: flex-end;
}


.mmmrcq-items-widget {
    margin-top: 10px;
}
.mmmrcq-items-widget .button-action-container{
    border-bottom: 1px solid #b5813e;
    margin-top: 5px;
}
.mmmrcq-items-widget .button-action-container button{
    /* background-color: red; */
    padding: 5px 1rem;
    width: auto;
    font-size: 1rem;
}
.mmmrcq-items-widget .button-action-container button.btn-green{
    border-radius: 0px 10px 10px 0px;
}
.mmmrcq-items-widget .input{
    width: 50px;
    padding: 5px 10px;
    border-radius: 10px 0px 0px 10px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    border: none;
}
.mmmrcq-items-widget-link{
    font-size: 0.7em;
    padding: 1px 10px;
    border-radius: 10px;
    text-decoration: underline;
    /* background-color: red; */
}





.manage-messages-main .right .replybox{
    height: auto;
    width: calc(100%);
    /* padding: 10px; */
    /* box-shadow: inset 0px 5px 5px 0px rgba(0, 0, 0, 0.1); */
    /* background-color: red; */
    /* border-radius: 10px; */
}
.manage-messages-main .right .replybox textarea{
    height: 30px;
    width: calc(100% - 5rem);
    resize: none;
    padding: 10px;
    /* background-color: whitesmoke; */
    border-radius: 0px 10px 10px 0px;
    font-size: 1rem;
}
.manage-messages-main .right .replybox .send{
    width: calc(20% - 2rem);
}
.manage-messages-main .right .replybox img{
    height: 20px;
    background-color: white;
    padding: 12px;
    border-radius: 5px;
}
.manage-messages-main .right .replybox img.closed{
    background-color: rgb(230, 230, 230);
}

.manage-messages-main .minitext{
    font-size: 0.8em;
}



































.manage-sales-main .header img{
    height: 40px;
    cursor: pointer;
    padding: 10px;
}
.manage-sales-main .header h3{
    padding: 5px 1rem;
    width: 50%;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}

.manage-sales-main .list .widget{
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.manage-sales-main .list .widget:last-child{
    border-bottom: none;
}
.manage-sales-main .list .widget span span.sale{
    font-size: 0.8em;
    text-decoration: line-through;
    color: red;
}
.manage-sales-main .list .widget span.sub{
    font-size: 0.8em;
    color: rgba(128, 128, 128, 0.5);
}

.manage-sales-main .weekheader img{
    height: 30px;
    cursor: pointer;
    padding: 5px;
}
.manage-sales-main .weekheader h3{
    padding: 3px 10px;
    width: 50%;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    font-size: 0.8rem;
}


.manage-sales-print{
    position: absolute;
    max-height: 70vh;
    border-radius: 1rem;
}
.manage-sales-print .header{
    border-bottom: thick solid black;
}
.manage-sales-print .header img{
    height: 20px;
}
.manage-sales-print .header img.close{
    height: 30px;
}
.manage-sales-print .content{
    max-width: calc(100% - 3rem);
    max-height: 70vh;
    overflow: hidden;
    overflow-y: auto;
    overflow-x: auto;
}
.manage-sales-print .minitext{
    font-size: 0.7rem;
}
.manage-sales-print .shipping-input{
    border-width: 0px;
    /* background-color: whitesmoke; */
    padding: 5px 10px;
    border-radius: 5px;
    
}

.paper{
    width: calc(8.5in);
    height: calc(11in - 2.5rem);
    min-width: 8.5in;
    min-height: calc(11in - 2.5rem);
    /* padding: 1in; */
    /* aspect-ratio: 1 / 2.3; */
    background-color: white;
    /* border-bottom: thin solid black; */
}
.paper-space{
    width: 7in;
    max-width: 7in;
    /* height: 9.5in; */
    aspect-ratio: 1 / 2;
    position: relative;
}
.paper-font-aureta{
    font-size: 2.5rem;
}
.paper-font-aureta.huge{
    font-size: 4rem;
}
.paper-logo{
    height: 1in;
}
.paper-sub{
    font-size: 0.8em;
    color: rgba(128, 128, 128, 1);
}
.paper-web{
    text-decoration: underline;
}
.paper-border-top{
    border-top: thin solid grey;
}

.paper-testimony-header{
    position: absolute;
    height: 2in;
    /* top: -3rem; */
    z-index: 0;
}
.paper-z1{
    z-index: 1;
}

.paper-col-item{
    width: 60%;
}
.paper-col-price{
    width: 20%;
}
.paper-col-amount{
    width: 20%;
}