


.planner-widget-item{
    .item{
        .wrapper{
            width: 100%;
            height: 6rem;
            // background-color: red;
            position: relative;
            cursor: pointer;
            overflow: hidden;
            
            .title{
                z-index: 5;
                color: $primary;
                text-shadow: 1px 1px 0px black;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                svg{
                    height: 2rem;
                    width: 2rem;
                    color: grey;
                    
                }
            }
            img{
                width: 100%;
                max-height: 6rem;
                object-fit: cover;
                position: absolute;
                left: 0;
                top: 0;
                z-index: 1;
            }
            .cover{
                width: 100%;
                height: 6rem;
                position: absolute;
                left: 0;
                top: 0;
                z-index: 2;
                background-color: transparent;
                backdrop-filter: blur(2px);
            }

        }
        .wrapper.active:hover{
            .title{
                opacity: 0;
                svg{
                    &:hover{
                        color: $primary;
                    }
                }
            }
            .cover{
                opacity: 0;
            }
            img{
                transform: scale(1.2);
            }
        }
        .wrapper:hover{
            .title{
                svg{
                    color: $primary;
                }
            }
        }
    }
}

.planner-widget-popup{
    min-width: 30rem;
    .img-con{
        height: 8rem;
        width: 100%;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .row{
        .option{
            border-radius: $base-border-radius * 0.5;
            cursor: pointer;
            &:hover{
                background-color: $bg-white;
            }
        }
    }
}

@include sm{
    .planner-widget-popup{
        min-width: 95vw;
    }
}

@include md{
    .planner-widget-popup{
        min-width: 25rem;
    }
}

@include lg{
    .planner-widget-popup{
        min-width: 40rem;
    }
}