

.scroller-top{
    position: fixed;
    // bottom: 5rem;
    // right: 3rem;
    // height: 5rem;
    // width: 5rem;
    background-color: white;
    border-radius: 50%;
    box-shadow: $base-box-shadow;
    cursor: pointer;

    svg{
        // height: 3rem;
        // width: 3rem;
        fill: $primary;
        color: $primary;
    }
}

.scroller-top.show{
    opacity: 1;
    transition: opacity .2s ease-out;
    -moz-transition: opacity .2s ease-out;
    -webkit-transition: opacity .2s ease-out;
    -o-transition: opacity .2s ease-out;
}
.scroller-top.hidden{
    opacity:0;
    transition: opacity .2s ease-out;
    -moz-transition: opacity .2s ease-out;
    -webkit-transition: opacity .2s ease-out;
    -o-transition: opacity .2s ease-out;
}


// @include xs {
//     .scroller-top{
//         bottom: 2rem;
//         right: 1rem;
//         height: 3rem;
//         width: 3rem;
    
//         svg{
//             height: 2rem;
//             width: 2rem;
//         }
//     }
// }
@include sm {
    .scroller-top{
        bottom: 2rem;
        right: 1rem;
        height: 4rem;
        width: 4rem;
    
        svg{
            height: 2.5rem;
            width: 2.5rem;
        }
    }
}
@include md {
    .scroller-top{
        bottom: 3rem;
        right: 2rem;
        height: 4rem;
        width: 4rem;
    
        svg{
            height: 2.5rem;
            width: 2.5rem;
        }
    }
}
@include lg {
    .scroller-top{
        bottom: 4rem;
        right: 3rem;
        height: 5rem;
        width: 5rem;
    
        svg{
            height: 3rem;
            width: 3rem;
        }
    }
}
